<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dark.css')}}">
    <title>AWS IoT Playground</title>
  </head>
  <body>
    <table>
        <tbody>
            <tr>
                <h1>IoT Endpoint</h1>
            </tr>
            <tr>
            <div>
                <pre>
                    <code>{{ message }}</code>
                </pre>
            </div>
        </tr>
        <tr>
            <td><a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a></td>
        </tr>                
    </tbody></table>
  </body>
</html>