<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dark.css')}}">
    <title>AWS IoT Playground</title>
  </head>
  <body>
    <h1>AWS IoT Playground - Help</h1>

    <table>
        <tbody>
        <tr><td>Config</td><td>Change the device configuration</tr>
        <tr><td>Shadow</a></td><td>Get the current device shadow</td></td></tr>
        <tr><td>Endpoint</a></td><td>Get the iot endpoint used by the device</td></tr>
        <tr><td>Cert</a></td></tr>
        <tr><td>Log</a></td></tr>
        <tr><td>Help</a></td><td>This page</td></tr>
        <tr><td>Tamper</a></td><td>Simulate a tamper event</td></tr>
        <tr>
            <td><a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a></td>
        </tr>            
        <tr>
            <!--td id="infoLabel" align="center" style="position:relative; top:-15vh; height: 5vh; font-size:5vh; color:white; font-family:arial">Connected!</td-->
        </tr>
        </tbody>
    </table>
  </body>
</html>