<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dark.css') }}">
    <title>AWS IoT Playground</title>
  </head>
  <body>
    <h1>AWS IoT Playground</h1>
    <table>
        <tbody>
        <tr>
            <td>{{ message }}</td>
        </tr>
        <tr>
            <td>Type: {{ type }}</td>
        </tr>
        <tr>
            <td><img src="{{ url_for('static', filename=img_file) }}"></td>
        </tr>
        </tbody>
    </table>

    <table>
        <tbody>
        <tr><td><a href="/config">Configure device</a></td></tr>
        <tr><td><a href="/shadow">See device shadow</a></td></tr>
        <tr><td><a href="/endpoint">See iot endpoint</a></td></tr>
        <tr><td><a href="/cert">See device cert</a></td></tr>
        <tr><td><a href="/log">See device log</a></td></tr>
        <tr><td><a href="/help">Help</a></td></tr>
        <tr><td>
            <form action="{{ url_for('tamper') }}" method="POST">
                <input type="submit" value="Tamper">
            </form>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a href="https://aws.amazon.com/what-is-cloud-computing"><img src="https://d0.awsstatic.com/logos/powered-by-aws-white.png" alt="Powered by AWS Cloud Computing"></a></td>
        </tr>            
        <tr>
            <!--td id="infoLabel" align="center" style="position:relative; top:-15vh; height: 5vh; font-size:5vh; color:white; font-family:arial">Connected!</td-->
        </tr>
        </tbody>
    </table>
  </body>
</html>